{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Register{% endtrans %}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-primary">{% trans %}Register{% endtrans %}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
