{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>actions</th>
                <th>Categories</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.text }}</td>
                <td>
                    {% for categorie in question.categories %}
                        {{ categorie.shortname }}
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('question_show', {'id': question.id}) }}">{% trans %}Show{% endtrans %} <i class="far fa-eye"></i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary" href="{{ path('question_edit', {'id': question.id}) }}">{% trans %}Edit{% endtrans %} <i class="fas fa-hammer"></i></a> 
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% trans %}Create new{% endtrans %}question {% trans %}with{% endtrans %}
    <a href="{{ path('question_new', {'nb': 2}) }}"> 2 {% trans %}Answers{% endtrans %}</a>,
    <a href="{{ path('question_new', {'nb': 3}) }}"> 3 {% trans %}Answers{% endtrans %}</a>
    {% trans %}or{% endtrans %} <a href="{{ path('question_new', {'nb': 4}) }}"> 4 {% trans %}Answers{% endtrans %}</a>
{% endblock %}
