{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Shortname{% endtrans %}</th>
                <td>{{ category.shortname }}</td>
            </tr>
            <tr>
                <th>{% trans %}Longname{% endtrans %}</th>
                <td>{{ category.longname }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('category_index') }}">{% trans %}Back to list{% endtrans %} <i class="fas fa-undo"></i></a>

    {% if is_granted('ROLE_ADMIN') %}
         <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}">{% trans %}Edit{% endtrans %} <i class="fas fa-hammer"></i></a> 
    {% endif %}

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
